   body {background-color:#fff48d;
    font-family: 'Roboto', sans-serif;
  }
    /*This is for the top of the site */
    h1{
        background: #8F6400;
        color: #000000;
    }
    h2{
        margin: 5px 0 10px 15px;
    }
    /*this is the info*/
        p{
        margin: 5px 0 10px 15px;
    }
        li{
        margin: 5px 0 10px 15px;
    }

.roundbutton {
  background-color: #8F6400;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: block; 
  padding: 16px 24px;      
  font-size: 18px; 
  text-align: left;
}
    button:hover {
  background-color: #634501;
}
.buttonpossistion {
  display: flex;
  justify-content: flex-end;
}
.buttoncontainer {
  display: flex;       
  gap: 10px;           
  justify-content: left; 
  margin-top: 10px;  
}
.menu-button {
  background-color: #8F6400;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block; 
  gap: 10px;  
  padding: 16px 24px;      
  font-size: 18px; 
  text-align: left;
}

.menu-button:hover {
  background-color: #634501;
}

.steps {
      display: flex;
      flex-direction: column;
      margin: 30px auto;
      width: 80%;
      max-width: 800px;
    }

    .step {
      background: #8F6400;
      border-radius: 12px;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      text-align: left;
    }

    .step img {
      width: 100%;
      max-width: 500px;
      border-radius: 10px;
      text-align: left;
      background-color: #8F6400;
      display: flex;
    }

    
    img{
              width: 100%;
      max-width: 500px;
      border-radius: 10px;
      text-align: left;
      display: flex;
    }

    form{
      width: 300px;
      border-radius: 10px;
    }
    
